.root {
  position: relative;
  width: 221.164px;
  height: 260px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  overflow: hidden;
}
.clipPathGroup {
  position: absolute;
  left: 0;
  top: 0;
  width: 221.164px;
  height: 260px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
