.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.icon_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.tag {
  position: absolute;
  left: 37.4999%;
  right: 8.6217%;
  top: 8.2504%;
  bottom: 37.8711%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector {
  position: absolute;
  left: 8.3333%;
  right: 8.3333%;
  top: 8.3333%;
  bottom: 8.3333%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
