.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle25 {
  position: absolute;
  left: 4px;
  top: 7px;
  width: 16px;
  height: 13px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle26 {
  position: absolute;
  left: 9px;
  top: 3px;
  width: 6px;
  height: 8px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
