.root {
  position: relative;
  width: 24px;
  height: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.angleRight {
  position: absolute;
  left: 34.376%;
  right: 30.2051%;
  top: 17.7012%;
  bottom: 17.7082%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
