.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  flex-direction: column;
  align-items: flex-start;
}
.bg {
  position: absolute;
  left: 6.25%;
  right: 6.25%;
  top: 6.25%;
  bottom: 6.25%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.f {
  position: absolute;
  left: 31.25%;
  right: 31.25%;
  top: 25%;
  bottom: 6.25%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
