.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 393px;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.homeIndicator {
  position: absolute;
  left: calc(50% - -0.5px);
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #141414;
  transform: translateX(-50%);
}
